<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AppDebugSettings" type="System.Configuration.NameValueSectionHandler" />
		<section name="AppReleaseSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<AppDebugSettings>
		<add key="Key0" value="DebugValue0" />
		<add key="Key1" value="DebugValue1" />
		<add key="Key2" value="DebugValue2" />
	</AppDebugSettings>

	<AppReleaseSettings>
		<add key="Key0" value="ReleaseValue0" />
		<add key="Key1" value="ReleaseValue1" />
		<add key="Key2" value="ReleaseValue2" />
	</AppReleaseSettings>
</configuration>
